@model StudentMarkAutomation.Models.Student

@{
    ViewData["Title"] = "Student Mark Automation";
}
<head>
    <style>
         h1{
    	text-align: center;
    }
    </style>  
</head>
<h1 style="color:crimson">Student Mark Automation</h1>
<hr />
<style>
    body {
        background-image: url(https://t3.ftcdn.net/jpg/03/51/51/28/360_F_351512882_2kFH8IaSe4lyA7SXBLzEXyGKNEgbO1iH.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<script src="//code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>

<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
<script type='text/javascript'>
    debugger;
    $(function(){
          //When the blur event occurs from your Textbox (you lose focus)
          $('#Chemistry').blur(function(){
               add();
          });
    });
    function  add()
    {
        var Math = $('#Math').val();
        var Physics = $('#Physics').val();
        var Chemistry = $('#Chemistry').val();
        var total = (parseFloat(Math) + parseFloat(Physics) + parseFloat(Chemistry));
        var avg = total/3.0;
       $('#Average').val(avg);
    }
</script>
<h4 style="color:cadetblue">Student Information:</h4>
<p>
    <img src="Student.png" style="height:600px;position: absolute;left: 1000px;top:400px;" />
</p>

<div class="row">
    <div class="col-md-6">
        <form asp-action="StudentView">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table align="center" width="205%" cellpadding="30" cellspacing="0" border="0">
            <tr>
            <td>
            <div class="form-group">
                <label asp-for="FirstName" style="color:black" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" type="text" name="FirstName" ng-model="FirstName" required/>
                <span asp-validation-for="FirstName" class="text-danger" style="color:red" ng-show="myForm.FirstName.$dirty && myForm.FirstName.$invalid"></span>
            </div>
            </td>
            <td>
            <div class="form-group">
                <label asp-for="LastName" style="color:black" class="control-label"></label>
                <input asp-for="LastName" class="form-control" type="text" name="LastName" ng-model="LastName" required />
                <span asp-validation-for="LastName" class="text-danger" style="color:red" ng-show="myForm.LastName.$dirty && myForm.LastName.$invalid"></span>
            </div>
             </td>
            </tr>
            <tr>
            <td>
            <div class="form-group">
                <label asp-for="RollNo"style="color:black" class="control-label"></label>
                <input asp-for="RollNo" class="form-control" type="text" name="RollNo" ng-model="RollNo" required  />
                <span asp-validation-for="RollNo" class="text-danger" style="color:red" ng-show="myForm.RollNo.$dirty && myForm.RollNo.$invalid"></span>
            </div>
            </td>
            <td>
            <div class="form-group">
                <label asp-for="Email" style="color:black" class="control-label"></label>
                <input asp-for="Email" class="form-control" type="email" name="Email" ng-model="Email" required  />
                <span asp-validation-for="Email" class="text-danger" style="color:red" ng-show="myForm.Email.$dirty && myForm.Email.$invalid"></span>
            </div>
             </td>
            </tr>
          </table>           
            <h4 style="color:indianred" >
                Marks Obtained:
                <hr />
            </h4>       
            <div class="form-group">
                <label asp-for="Math" style="color:black" class="control-label"></label>
                <input asp-for="Math" class="form-control" type="number" name="Math" ng-model="Math" required />
                <span asp-validation-for="Math" class="text-danger" style="color:red" ng-show="myForm.Math.$dirty && myForm.Math.$invalid"></span>
            </div>
            <div class="form-group">
                <label asp-for="Physics" style="color:black" class="control-label"></label>
                <input asp-for="Physics" class="form-control"  type="number" name="Physics" ng-model="Physics" required />
                <span asp-validation-for="Physics" class="text-danger" style="color:red" ng-show="myForm.Physics.$dirty && myForm.Physics.$invalid"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chemistry" style="color:black" class="control-label"></label>
                <input asp-for="Chemistry" class="form-control" type="number" name="Chemistry" ng-model="Chemistry" required  />
                <span asp-validation-for="Chemistry" class="text-danger" style="color:red" ng-show="myForm.Chemistry.$dirty && myForm.Chemistry.$invalid"></span>
            </div>
            <div class="form-group">
                <label asp-for="Average" style="color:black" class="control-label"></label>
                <input asp-for="Average" class="form-control" readonly />
                <span asp-validation-for="Average" class="text-danger"></span>
            </div>                       
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
